################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Yritused/FileContentIndex/2255a0d0-04dc-4dd6-b806-9dddee8373f5.vsidx
/.vs/Yritused/FileContentIndex/4cb13ea6-ed44-4779-82c6-a177fca3e6ac.vsidx
/.vs/Yritused/FileContentIndex/cfc46b78-6b23-4280-9f28-4b3d5631f28e.vsidx
/.vs/Yritused/FileContentIndex/0aee9ad4-011b-4605-a183-00e6f21e9dba.vsidx
/.vs/Yritused/FileContentIndex/2a85a003-d627-44f7-9eaf-9e0bef4300d3.vsidx
/.vs/Yritused/FileContentIndex/b8743b5e-0cbc-4501-8979-ad4a7cea1419.vsidx
/.vs/Yritused/FileContentIndex/4190be3f-bd7a-40e1-9936-df035f420e2f.vsidx
/.vs/Yritused/FileContentIndex/5d996bf4-faa8-4221-820a-d938b89dc173.vsidx
/.vs/Yritused/FileContentIndex/7c2483b6-1ef2-42fc-85bd-8fbce9e3b688.vsidx
/.vs/Yritused/FileContentIndex/ca6e785e-9a5a-4d80-bef7-f350fc08f69e.vsidx
/.vs/Yritused/FileContentIndex/5cb3defe-2b32-4208-8156-76b960c6fd03.vsidx
*.vsidx
