################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Yritused/FileContentIndex/2255a0d0-04dc-4dd6-b806-9dddee8373f5.vsidx
/.vs/Yritused/FileContentIndex/4cb13ea6-ed44-4779-82c6-a177fca3e6ac.vsidx
/.vs/Yritused/FileContentIndex/cfc46b78-6b23-4280-9f28-4b3d5631f28e.vsidx
/.vs/Yritused/FileContentIndex/0aee9ad4-011b-4605-a183-00e6f21e9dba.vsidx
/.vs/Yritused/FileContentIndex/2a85a003-d627-44f7-9eaf-9e0bef4300d3.vsidx
