
@model IQueryable<Yritus>

@foreach (var y in Model ?? Enumerable.Empty<Yritus>())
{
    <div>
        <h3>@y.yrituse_nimi</h3>
        <h4>@y.yrituse_koht</h4>
        @y.lisainfo
    </div>
}
<h4>Tere tulemast ürituste saidile!</h4>