
<!DOCTYPE html>

<style>
    .small-header {
        font-size: 0.6rem !important;
        font-weight: 800;
    }

    .zeropadding {
        padding: 0 !important;
    }

    .bgcolor {
        background-color: #f6f6f6;
    }

    .modal-backdrop {
        z-index: 1 !important;
    }
</style>

<html style="background-color: #f6f6f6 !important;">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Üritused</title>
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/dist/**/*.min.css" />
    <link rel="stylesheet" asp-href-include="/lib/fontawesome/css/*.css" />
    <link rel="stylesheet" asp-href-include="/lib/jquery-datetimepicker/jquery.datetimepicker.min.css" />
</head>
<body>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/js-cookie-2.2.0/src/js.cookie.js"></script>
    <script src="/lib/jquery-datetimepicker/jquery.datetimepicker.full.min.js"></script>

    <nav class="navbar navbar-inverse bg-inverse fixed-top" role="navigation" style="background-color: #140c30 !important;">
        <div class="row m-0" style="width: 100%;">
            <div class="navbar-header col-1 text-left zeropadding">
                <a class="col navbar-brand small-header zeropadding" href="#"><img id="companylogo" /></a>
            </div>
            @await Html.PartialAsync("HeaderMenu")
        </div>
    </nav>
    <div class="row m-1 p-1 bgcolor">
        <div class="col-12 bgcolor" style="margin-top: 44px !important;">
            @RenderBody()
        </div>
    </div>
</body>
</html>
