
<link rel="stylesheet" href="/lib/yritus/css/headermenu.css" />
<script>
    $(() => {
        $('#yritused_button').on('click', yritusedcookies);
        $('#yritused_button').on('click', yritusedmousedown);

        $('#osavotjad_button').on('click', osavotjadcookies);
        $('#osavotjad_button').on('click', osavotjadmousedown);

        $('#yritused_osavotjad_button').on('click', yritusedosavotjadcookies);
        $('#yritused_osavotjad_button').on('click', yritusedosavotjadmousedown);

        $('#new_button').on('click', newitem);

        modifybuttons();
    })

    function yritusedcookies() {
        Cookies.set('menu', 'yritused');
        Cookies.set('filter', '');

        modifybuttons();
        gotolink();
    }

    function yritusedmousedown(e) {
        if (e.which === 3) {
            Cookies.set('menu', 'yritused');
            Cookies.set('filter', '');

            modifybuttons();
            gotolink();
        }
    }

    function osavotjadcookies() {
        Cookies.set('menu', 'osavotjad');
        Cookies.set('filter', '');

        modifybuttons();
        gotolink();
    }

    function osavotjadmousedown(e) {
        if (e.which === 3) {
            Cookies.set('menu', 'osavotjad');
            Cookies.set('filter', '');

            modifybuttons();
            gotolink();
        }
    }

    function yritusedosavotjadcookies() {
        Cookies.set('menu', 'yritusedosavotjad');
        Cookies.set('filter', '');

        modifybuttons();
        gotolink();
    }

    function yritusedosavotjadmousedown(e) {
        if (e.which === 3) {
            Cookies.set('menu', 'yritusedosavotjad');
            Cookies.set('filter', '');

            modifybuttons();
            gotolink();
        }
    }

    function modifybuttons() {
        const cookieValue = Cookies.get('menu');

        if (cookieValue === 'yritused') {
            $('#yritused_button').addClass('show-selected');
            $('#osavotjad_button').removeClass('show-selected');
            $('#yritused_osavotjad_button').removeClass('show-selected');

            $('#new_button').prop('title', 'Uus üritus');
        } else if (cookieValue === 'osavotjad') {
            $('#yritused_button').removeClass('show-selected');
            $('#osavotjad_button').addClass('show-selected');
            $('#yritused_osavotjad_button').removeClass('show-selected');

            $('#new_button').prop('title', 'Uus osavõtja');
        } else if (cookieValue === 'yritusedosavotjad') {
            $('#yritused_button').removeClass('show-selected');
            $('#osavotjad_button').removeClass('show-selected');
            $('#yritused_osavotjad_button').addClass('show-selected');

            $('#new_button').prop('title', 'Uus üritusest osavõtja');
        }
    }

    function gotolink() {
        const cookieValue = Cookies.get('menu');

        if (cookieValue === 'yritused') {
            const url = '@Url.Action("List", "Yritus")';

            window.location.href = url;
        } else if (cookieValue === 'osavotjad') {
            const url = '@Url.Action("List", "Osavotja")';

            window.location.href = url;
        } else if (cookieValue === 'yritusedosavotjad') {
            const url = '@Url.Action("List", "YritusOsavotja")';

            window.location.href = url;
        }
    }

    function newitem() {
        const options = { options: { backdrop: true, keyboard: true, focus: true, show: true } };
        const cookieValue = Cookies.get('menu');

        if (cookieValue === 'yritused') {
            $('#yritus-id').val('0');
            $('#yritus-yritusenimi').val('');
            $('#yritus-yrituseaeg').val('');
            $('#yritus-yritusekoht').val('');
            $('#yritus-lisainfo').val('');

            $('#yritus-detail-title').html('UUS ÜRITUS');

            $('#yritus-detail').modal(options).modal('show');
        } else if (cookieValue === 'osavotjad') {
            $('#osavotja-id').val('0');
            $('#osavotja-eesnimi').val('');
            $('#osavotja-eesnimi').val('');
            $('#osavotja-perenimi').val('');
            $('#osavotja-liik').val('');
            $('#osavotja-makseviis').val('');
            $('#osavotja-isikukood').val('');
            $('#osavotja-lisainfo').val('');

            $('#osavotja-detail-title').html('UUS OSAVÕTJA');

            $('#osavotja-detail').modal(options).modal('show');
        }
    }
</script>

<div class="col-6 text-left percent60 zeropadding-2">
    <ul class="nav navbar-nav mr-auto height-30 horizontal-menu" id="menu_ul">
        <li class="nav-item other-menus" id="li_valokyltti_button">
            <a class="nav-link active show-local no-padding" id="yritused_button" href="#">Üritused</a>
        </li>
        <li id="li_after_valokyltti_button">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </li>
        <li class="nav-item other-menus" id="li_quotes_button">
            <a class="nav-link active show-local no-padding" id="osavotjad_button" href="#">Osavõtjad</a>
        </li>
        <li id="li_after_quotes_button">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </li>
        <li class="nav-item other-menus" id="li_scoro_button">
            <a class="nav-link active show-local no-padding" id="yritused_osavotjad_button" href="#">Üritustest osavõtjad</a>
        </li>
        <li id="li_after_scoro_button">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </li>
    </ul>
    <input type="hidden" id="currentRole" value="" />
</div>

<div class="col-4 text-right container percent30 zeropadding" id="menu_container">
    <span id="quote_text" class="currentuser show-shopping-cart-not-empty"></span>
    <span id="quote_text_buffer">&nbsp;&nbsp;&nbsp;</span>
    <span id="filter_off_link">
        <a href="#"><i class="fas fa-filter show-local" style="font-size: 1.85em;" id="filter_off_button" data-toggle="tooltip" data-placement="left" data-type="main" title="Filtreerimata andmed"></i></a>
        <span>&nbsp;</span>
    </span>
    <span id="new_link"><a href="#"><i class="fas fa-plus-square show-local" style="font-size: 1.85em;" id="new_button" data-toggle="tooltip" data-placement="left" data-type="main" title=""></i></a>
        <span>&nbsp;</span>
    </span>
    <span id="help_link">
        <a href="#"><i class="fas fa-question show-local" style="font-size: 1.85em;" id="help_button" data-toggle="tooltip" data-placement="left" data-type="main" title="Help"></i></a>
    </span>
</div>

@await Html.PartialAsync("OsavotjaDetail")

@await Html.PartialAsync("YritusDetail")
