
<div class="modal fade" id="osavotja-detail" data-backdrop="static" aria-hidden="true" aria-labelledby="osavotja-detail-title" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="osavotja-detail-title" style="width: 800px;">OSAVÕTJA DETAILVAADE</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" validate="true" id="osavotja-detail-form">
                    <div class="mb-3">
                        <label for="osavotja-eesnimi" class="col-form-label">Eesnimi:</label>
                        <input type="text" class="form-control fw-bold" id="osavotja-eesnimi" />
                    </div>
                    <div class="mb-3">
                        <label for="osavotja-perenimi" class="col-form-label">Perekonnanimi:</label>
                        <input type="text" class="form-control fw-bold" id="osavotja-perenimi" />
                    </div>
                    <div class="mb-3">
                        <label for="osavotja-liik" class="col-form-label">Füüsiline/Juriidiline isik:</label>
                        <select class="form-control fw-bold" autocomplete="off" id="osavotja-liik">
                            <option value=""></option>
                            <option value="F">Füüsiline isik</option>
                            <option value="J">Juriidiline isik</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="osavotja-makseviis" class="col-form-label">Makseviis:</label>
                        <select class="form-control fw-bold" autocomplete="off" id="osavotja-makseviis">
                            <option value=""></option>
                            <option value="P">Pangaülekandega</option>
                            <option value="S">Sularahas</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="osavotja-isikukood" class="col-form-label">Isikukood:</label>
                        <input type="text" class="form-control fw-bold" id="osavotja-isikukood" />
                    </div>
                    <div class="mb-3">
                        <label for="osavotja-lisainfo" class="col-form-label">Lisainfo:</label>
                        <textarea class="form-control fw-bold" id="osavotja-lisainfo"></textarea>
                    </div>
                    <input type="hidden" id="osavotja-id" value="" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sulge</button>
                <button type="button" id="submit" class="btn btn-primary">Salvesta</button>
            </div>
        </div>
    </div>
</div>

