
<div class="modal fade" id="yesnomodal" tabindex="-1" role="dialog" aria-labelledby="yesnomodallable" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="yesnomodallabel" style="width: 460px;"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span id="yesnomodalcontent">Noooooooooooooooooooooooooo</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ei</button>
                <button type="button" id="yesno-submit" class="btn btn-primary">Jah</button>
            </div>
        </div>
    </div>
</div>
