
<div class="modal fade" id="yritus-detail" data-backdrop="static" aria-hidden="true" aria-labelledby="yritus-detail-title" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="yritus-detail-title" style="width: 800px;">ÜRITUSE DETAILVAADE</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" validate="true" id="yritus-detail-form">
                    <div class="mb-3">
                        <label for="yritus-yritusenimi" class="col-form-label">Ürituse nimetus:</label>
                        <input type="text" class="form-control fw-bold" id="yritus-yritusenimi" autocomplete="off" />
                    </div>
                    <div class="mb-3">
                        <label for="yritus-yrituseaeg" class="col-form-label">Toimumise aeg:</label>
                        <input type="text" class="form-control fw-bold" id="yritus-yrituseaeg" autocomplete="off" />
                    </div>
                    <script>
                        $('#yritus-yrituseaeg').datetimepicker({
                            format: 'd.m.Y H:i',
                            lang: 'et',
                            minDate: 0,
                            step: 10
                        });
                    </script>
                    <div class="mb-3">
                        <label for="yritus-yritusekoht" class="col-form-label">Toimumise koht:</label>
                        <input type="text" class="form-control fw-bold" id="yritus-yritusekoht" autocomplete="off" />
                    </div>
                    <div class="mb-3">
                        <label for="yritus-lisainfo" class="col-form-label">Lisainfo:</label>
                        <textarea class="form-control fw-bold" rows="10" id="yritus-lisainfo"></textarea>
                    </div>
                    <input type="hidden" id="yritus-id" value="" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sulge</button>
                <button type="button" id="yritus-submit" class="btn btn-primary">Salvesta</button>
            </div>
        </div>
    </div>
</div>
